/* Styles des divisions principales de la page */
body{
	background-image: url(background.jpg);
  margin-right: 3rem;
  text-align: center;
  background-repeat : no-repeat;
  background-size : cover;
  background-attachment: fixed;
  font-family:"Trebuchet MS",Verdana,Geneva,Arial,Helvetica,sans-serif;
  color: rgb(255, 255, 255);
}

header > h1 { display: inline-block; }

span{
  color : #F49E4C;
  font-size: 34px;
  font-weight: 900;
  margin-left: -5;
}

h1 > a{
  color : #F49E4C;
  font-size: 34px;
  font-weight: 900;
}

h1{
  color : #F49E4C;
}

h2{
  color : #F49E4C;
  text-decoration: underline;
}

label{
  color : #F49E4C;
}

input[type=button],input[type=reset]{
  background-color: #F49E4C;
  font-size: 18px;
  padding: 8px 32px;
  border : 0mm;
	border-radius:25px 0 25px 0;
}

input[type=button],input[type=submit]{
  background-color: #F49E4C;
  font-size: 18px;
  padding: 8px 32px;
  border : 0mm;
	border-radius:0 25px 0 25px;
}

button.styleBouton{
  background-color: #F49E4C;
  font-size: 14px;
  border : 0mm;
	border-radius:15px 15px 15px 15px;
  margin: 1mm 0mm 1mm 0mm;
}

.button input:hover {
  color: #F49E4C;
  background-color: rgb(22, 20, 20);
}

.piedform input:hover {
  color: #F49E4C;
  background-color: rgb(22, 20, 20);
}

button.styleBouton:hover{
  color: #F49E4C;
  background-color: rgb(22, 20, 20);
}

.comptable h3{
  color: #F26D00;
  text-decoration: underline;
}

.comptable h4{
  color: #F26D00;
}

.visiteur h3{
  color: #F26D00;
}

.erreur li{
  background-color : red;
}